body {
    margin: 0;
    background-image: url("../images/concrete-texture.png");
    /* display: flex; */
    /* flex-direction: column; */
}

header {
    position: relative;
    height: 84px;
    margin: 0;
    border: solid #cccccc;
    background-color: #ffffff;
}

h1 {
    position: relative;
    top: 0px;
    left: 431px;
    margin: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    height: 84px;
    width: 236px;
    text-align: center;
    line-height: 86px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.about {
    float: right;
    position: relative;
    top: 30px;
    width: 5%;
    height: 18px;
    line-height: 18px;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
   
}
.about0 {
    color: #4aaaa5;
}
#about-link {
    text-decoration: none;
    color: #777777;
}
#about-link:hover {
    color: #4AA7C1;
    text-decoration: underline;
}



.portfolio {
    float: right;
    position: relative;
    top: 30px;
    width: 5%;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-left: solid 2px;
    border-left-style: inset;
    font-family: Arial, Helvetica, sans-serif;

}
.portfolio0 {
    color: #4aaaa5;
}
#portfolio-link {
    text-decoration: none;
    color: #777777;
}
#portfolio-link:hover {
    color: #4AA7C1;
    text-decoration: underline;
}



.contact {
    float: right;
    position: relative;
    top: 30px;
    width: 5%;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin-right: 410px;
    border-left: solid 2px;
    border-left-style: inset;
    font-family: Arial, Helvetica, sans-serif;

}
.contact0 {
    color: #4aaaa5;
}
#contact-link {
    text-decoration: none;
    color: #777777;
}
#contact-link:hover {
    color: #4AA7C1;
    text-decoration: underline;
}



.content {
    height: 960px;
    margin: 0;
    /* flex: 1 0 auto; */
    /* padding-bottom: 66px; */
}

.content-box {
    height: 598px;
    width: 809px;
    background-color: #ffffff;
    margin: auto;
    top: 35px;
    position: relative;
    border: solid #dddddd;
}

h2 {
    position: relative;
    margin: 0;
    line-height: 70px;
    color: #4aaaa5;
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
   }

#hr1 {
    width: 93%;
    background-color: #777777;
}   

.image-details {
    position: absolute;
}

img {
    float: left;
    padding: 30px;
}

.p {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
}

#hr2 {
    margin: 0%;
    background-color: #4aaaa5;
    height: 10px;
    width: 100%;
    position: fixed;
    bottom: 83px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 84px;
    margin: 0;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: smaller;
    /* flex-shrink: 0; */
}

#pfooter {
    margin: 0%;
    line-height: 145px;
}


/* Portfolio Speciic */

form {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 30px;
    font-size: 16px;
}